.add-inquiry .form-control {
  display: inline-block;
  width: 450px;
}
.add-inquiry .add-part-tab input,
.add-inquiry .add-part-tab select {
  width: 90%;
}
.add-inquiry p.list-group-item-text {
  margin: 7px auto;
}
.add-inquiry p.list-group-item-text input {
  vertical-align: middle;
}
.add-inquiry p.list-group-item-text button {
  vertical-align: middle;
  margin-left: 20px;
}
.add-inquiry p.list-group-item-text span.label_info {
  display: inline-block;
  min-width: 70px;
  text-align: right;
}
.error-info {
  color: #ff0000;
}
.select_car_box .tab-pp {
  padding: 10px;
}
.select_car_box .tab-pp li {
  float: left;
  margin: 0 10px 5px 5px;
  min-width: 130px;
}
.select_car_box .tab-pp li:last-child {
  margin-right: 0;
}
.select_car_box .tab-pp li a {
  display: block;
  /*width: 95px;*/
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  background: #fff !important;
}
.select_car_box .tab-pp li a img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.select_car_box h3 {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: 0;
}
.select_car_box h3 img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}
.select_car_box .tab-cx {
  padding: 10px;
}
.select_car_box .tab-cx li {
  float: left;
  margin: 0 10px 5px 5px;
}
.select_car_box .tab-cx li a {
  display: block;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
}
.select_car_box h6 {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  margin: 0;
}
.select_car_box .tab-cxx {
  padding: 10px;
}
.select_car_box .tab-cxx li {
  float: left;
  width: 50%;
  margin-bottom: 8px;
}
.select_car_box .tab-cxx li a {
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}


.ui-autocomplete{
   background: #fff;
   border:1px solid #d5d5d5;
   width: 450px!important;
   padding-left: 0;
}
.ui-autocomplete li{
    list-style: none;
    line-height: 28px;
    padding-left: 15px;
    cursor: pointer;
}
.ui-autocomplete li:hover{
    background: #00c0ef;
    color: #fff;
}
.ui-resizable{
    background: #fff;
    overflow: hidden;
    border:1px solid #d5d5d5;
    z-index: 999;
}
.ui-resizable .ui-dialog-titlebar{
    background: #ebebeb;
    padding: 10px 0 10px 12px;
    color: #444;
    font-weight: bold;
}
.ui-dialog-content{
    padding-left: 12px;
}
.ui-dialog-content .form-group{
    margin: 12px 0;
} 
.ui-dialog-content .person_select{
    width: 33%;
    height: 34px;
    line-height: 1.42857143;
    border: 1px solid #d2d6de;
}
.ui-dialog-buttonset{
    text-align: center;
    margin: 20px 0;
}
.ui-dialog-titlebar-close{
    float: right;
    margin: -3px 12px 0 0;
}
.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 990;
}