.add-inquiry .form-control {
  display: inline-block;
  width: 450px;
}
.add-inquiry .add-part-tab input,
.add-inquiry .add-part-tab select {
  width: 90%;
}
.add-inquiry .shipping-fee-tab input,
.add-inquiry .shipping-fee-tab select {
  width: 90%;
}
.add-inquiry p.list-group-item-text span.label_info {
  display: inline-block;
  min-width: 60px;
}
.add-part-tab .order_day {
  display: none;
}
.error-info {
  color: #ff0000;
  text-align: left;
}
.select_car_box .tab-pp {
  padding: 10px;
}
.select_car_box .tab-pp li {
  float: left;
  margin: 0 10px 5px 5px;
  min-width: 130px;
}
.select_car_box .tab-pp li:last-child {
  margin-right: 0;
}
.select_car_box .tab-pp li a {
  display: block;
  /*width: 95px;*/
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  background: #fff !important;
}
.select_car_box .tab-pp li a img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.select_car_box h3 {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: 0;
}
.select_car_box h3 img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}
.select_car_box .tab-cx {
  padding: 10px;
}
.select_car_box .tab-cx li {
  float: left;
  margin: 0 10px 5px 5px;
}
.select_car_box .tab-cx li a {
  display: block;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
}
.select_car_box h6 {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  margin: 0;
}
.select_car_box .tab-cxx {
  padding: 10px;
}
.select_car_box .tab-cxx li {
  float: left;
  width: 50%;
  margin-bottom: 8px;
}
.select_car_box .tab-cxx li a {
  display: block;
}
.btn {
  padding: 2px 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.vincode {
  margin-right: 3px;
}
.copy {
  margin-left: 10px;
  border: 1px solid #ddd;
  color: #666;
  font-size: 12px;
}
.order_right {
  font-size: 14px;
  color: #327ab7;
}
.order_right b:first-child {
  font-weight: normal;
}
.order_right b:nth-child(2) {
  font-weight: normal;
}
.table-bordered td {
  padding: 0px 8px!important;
}
.form-control {
  height: 26px;
  padding: 2px 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn-success {
  background-color: #327ab7;
  border-color: #327ab7;
  width: 60px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  line-height: 1.8;
}
.btn-success:hover {
  background-color: #327ab7;
  border-color: #327ab7;
}
.check {
  width: 60px;
  background: #666;
  border: #666;
  color: #fff;
  padding: 3px 12px;
  font-size: 12px;
}
.check:hover {
  background: #666;
  border: #666;
  color: #fff;
}
.table-bordered tr {
  height: 40px;
}
option {
  font-size: 12px;
}
.search-bar {
  padding: 12px 0;
}
.w1 {
  margin-top: 10px;
  font-size: 14px;
}
.w2 {
  font-size: 12px;
  color: #888;
  margin-left: 4px;
  font-weight: normal;
}
.w3 {
  border: none;
  margin-bottom: 10px;
}
.w3 tr,
.w3 th,
.w3 td {
  border: none!important;
}
.w3 .title {
  height: 14px;
}
.w3 .title th {
  padding: 0 8px;
}
.w4 {
  color: #888;
  font-size: 12px;
}
.w5 {
  color: #327ab7;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  display: block;
}
.w6 button {
  margin-left: 20px;
}
.w6 > * {
  vertical-align: middle;
  font-size: 12px;
}
.w6 input::-webkit-input-placeholder {
  font-size: 12px;
}
.w6 input::-moz-placeholder {
  font-size: 12px;
}
.w6 input:-ms-input-placeholder {
  font-size: 12px;
}
.w6 input::placeholder {
  font-size: 12px;
}
.w7 {
  font-size: 12px;
  padding: 2px 8px;
}
.w8 {
  width: 200px;
  height: 34px;
  background: #327ab7;
  border: #327ab7;
  margin-top: 44px;
}
.w8:hover {
  background: #327ab7;
  border: #327ab7;
}
.remove-part {
  font-size: 12px;
  padding: 2px 0;
  width: 66px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.list-group-item:first-child {
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
